* {
    font-family: verdana;
    color: whitesmoke;
    margin: 0px auto;
    padding: 0px;

}

@font-face {
    font-family: 'yellowtail';
    font-style: normal;
    src: url(fonts/Yellowtail-Regular.ttf);

}

body {
    background-color: rgba(51, 64, 93, 0.6);
    /*en amarillo para diferenciar partes, despues volver al verde*/
    background-image: url(../images/IMG_3800.JPG);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed;
}

#fondo {
    width: 85%;

}

h1 {
    padding: 10px;

}


p {
    color: whitesmoke;
    font-family: verdana;
    background-color: transparent;
    padding: 10px;

}


ul,
li {
    font-size: 1em;
    margin: 15px;
    background-color: transparent;

}

table {
    text-align: center;
    width: 25%;

}

nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    background-color: transparent;
    margin-bottom: 30px;

}


.tablaNav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;

}

.tablaNav li {
    display: inline-block;
    font-size: 1em;
    margin: 0px auto;
    padding: 0px 0px;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    width: 100%;

}

.tablaNav a:hover {
    color: whitesmoke;
    text-decoration-color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 30px;
    transform: scale(1);
    transition: all 0.9s;

}

.tablaNav a:link {
    color: whitesmoke;
    text-decoration-color: transparent;
    display: inline-block;
    padding: 15px 0px;
    width: 100%;


}

.tablaNav a:visited {
    color: whitesmoke;

}

.active {
    background-color: rgba(165, 175, 209, 0.5);
    border-radius: 30px;
}

table.tablaComparativa {
    padding: 20px 10px 10px 10px;
    margin: 0px auto;
    font-size: 1em;
    width: 75%;
    table-layout: fixed;
    border-radius: 10px;
    background-color: rgba(51, 64, 93, 0.85);
    box-shadow: 10px 10px 5px rgba(100, 114, 145, 0.85);
    border-collapse: collapse;
    border-radius: 10px;

}

table.tablaComparativa th {
    border-bottom: 0.5px solid rgba(100, 114, 145, 0.85);
    padding: 10px;

}

table.tablaComparativa td {
    border-bottom: 0.5px solid rgba(100, 114, 145, 0.85);
    padding: 5px;

}

table.tablaComparativa tr {
    border-bottom: 0.5px solid rgba(100, 114, 145, 0.85);
    padding: 5px;

}

table.tablaComparativa tr:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    border-radius: 10px;

}

table.tablaComparativa tr:nth-child(even) {
    background-color: rgba(165, 175, 209, 0.5);

}



li {
    font-size: 15px;
}

a:link,
a:visited {
    color: whitesmoke;
    text-decoration-color: whitesmoke;

}

a:hover {
    color: whitesmoke;
    text-decoration-color: transparent;
}

header {
    margin: 0px auto;
    color: whitesmoke;
    padding: 0px;
    text-shadow: 5px 5px 5px rgba(227, 227, 227, 0.48);

}

section {
    margin: 0px auto;
    padding: 0px;
    height: 1000px;

}

article {
    margin: 0px auto;
    text-align: justify;
    padding-left: 10px;

}

aside {
    padding: 10px;

}

footer {
    margin: 0 auto;
    text-align: right;
    font-size: 0.80em;
    margin-top: 10px;
    border-top: 1px solid whitesmoke;
    padding: 0px 20px 20px 20px;

}

footer p {
    padding: 5px;
    font-size: 0.80em;
    clear: both;

}

input,
option {
    background-color: whitesmoke;
    color: black;
    margin: 10px;
    border-color: rgb(54, 53, 120);
    border-radius: 5px;

}

textarea {
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(54, 53, 120);

}

label {
    background-color: transparent;
    padding: 5px;

}

#boton {
    background-color: rgb(54, 53, 120);
    color: whitesmoke;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-style: whitesmoke;

}

#ciudad {
    background-color: whitesmoke;

}

.cajasVideo {
    margin: 0 auto;
    display: flex;
    align-items: center;

}


.videoParque,
.repro {
    transition: all 0.4s;
}

.videoParque:hover,
.repro:hover {
    transform: scale(0.9);
}

.videoParque {
    background-color: transparent;
    width: 45%;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: rgba(51, 64, 93, 0.65);
    box-sizing: border-box;
    float: left;


}

#videoParque {
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}


/*.separador1 {
    height: 500px;
    width: 1%;
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 10px;

} */

/* Introduzcon un display inline-block  */

div.repro {
    width: 45%;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: rgba(51, 64, 93, 0.65);
    font-family: 'yellowtail';
    box-sizing: border-box;
    display: inline-block;
}

div.repro h2 {
    padding: 15px;
}


div.repro p,
div.repro span {
    margin: 5px auto;
    font-family: 'yellowtail';
    font-size: 1.15em;
    padding: 5px 15px;

}

.repro::-webkit-scrollbar {
    width: 10px;

}

.repro::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 10px;

}

.repro::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;

}

article h1 {
    color: whitesmoke;
    font-size: 24px;
    padding: 5px;

}

article h2 {
    color: whitesmoke;
    font-size: 18px;
    padding: 5px;

}

/** Selector adyacente */

article h1 + h2 {
    padding: 20px 5px 5px 5px;
}

/** Selector heranos solo aplica la página facturas, sin embargo no aplica al h2 de Coparador ya que está dentro de otro div */

article h1 ~ h2 {
    color: whitesmoke;
    font-style: italic;
    font-size: 18px;
    padding: 20px 5px 5px 5px;
}

a[href$='.html'] {
    font-style: italic;
}


select {
    color: black;

}

header > h1 {
    text-align: right;
    font-size: 3em;
    line-height: 100px;

}

div.comparador {
    margin: 0 auto;

}

#textoPrincipal > p {

    font-size: 1.15em;

}

#listadoFacturas {
    /* no puedo hacer que se repita la imagen a lo largo de todo el borde */
    margin: 0px auto;
    border: 20px solid white;
    border-image-source: url("../images/Lightning-Bolt%20-%2050x50.jpg");
    border-image-slice: 100%;
    border-image-repeat: repeat;
}

/* Pagina Principal */


body.inicio {
    background-color: rgba(51, 64, 93, 0.6);
    background-image: url(../images/IMG_3800.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    height: auto;
    width: 75%;
    background-attachment: fixed;

}


.inicio h1 {
    text-align: center;
    font-size: 100px;
}

.inicio p,
.inicio ul {
    text-align: center;
    font-size: 15px;

}

.inicio th {
    border: 0.px solid whitesmoke;
    background: whitesmoke radial-gradient(circle, whitesmoke, 65%, rgb(51, 64, 93));
    text-align: center;
    width: 25%;
    border-radius: 25px;
    height: 50px;
    text-shadow: 5px 5px 5px rgba(51, 64, 93, 0.65);

}

.inicio th:hover {
    transition: all 0.8s;
    transform: scale(1.4);

}


.inicio a {
    color: rgb(51, 64, 93);

}

.inicio a:link,
.inicio a:visited {
    text-decoration-color: rgb(51, 64, 93);


}

.inicio a:hover {
    text-decoration: none;

}

.inicio header {
    line-height: 100px;
    text-shadow: 5px 5px 5px rgba(227, 227, 227, 0.48)
}


.inicio h2 {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 30px;
    width: 75%;
}

.inicio footer {
    width: 75%;
}

.inicio section {
    margin: 0px auto;
    padding: 0px;
    height: 750px;

}

.registrarme ol {
    padding-left: 20px;
}

div.formulario p {
    font-size: 30px;
}

/** CSS para formulario solicitado en Entornos de Desarrollo. */

/** Cambia el CSS de "respuestaFormulario" según lo elegído en el radio */

body.Grande {

    background-color: rgba(170, 73, 78, 0.6);

}

body.Mediana {

    background-color: rgba(170, 136, 73, 0.6);

}

body.Pequeña {

    background-color: rgba(104, 170, 73, 0.6);

}

div.formulario0 {
    padding: 10px;
    width: 100%;

}



div.formulario1 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    height: 140px;
}

div.grupo1 {
    width: 100%;
    overflow: visible;
    margin-top: 20px;
    height: 140px;
}

div.formulario2 {
    float: left;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    width: 45%;
    height: 140px;
}

div.formulario2 img {
    padding: 10px;
    width: 50px;
    height: 50px;
}

div.formulario3 {
    float: right;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    height: 140px;
    width: 45%;

}

div.formulario3 img {
    margin: 0;
    padding: 10px;
    width: 250px;
    height: 50px;
}

div.grupo2 {
    clear: both;
    margin-top: 20px;
    width: 100%;
    height: 240px;
}

div.formulario4 {
    clear: both;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    height: 140px;
    width: 100%;

}

div.formulario4 img {
    margin: 0;
    padding: 10px;

}

div.formulario p {
    padding: 10px;
}

div.formulario5 {
    clear: both;
    margin-top: 20;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    height: 140px;

}

div.formulario5 p {
    padding: 10px;

}
